src/main/resources/static/dot/*
**/antlr/main
/target/
/juniter.log
/exec.log
*.class
/build/
/.gradle/
/bin/
docs/javadoc
*.interp
*.tokens
/.settings/
/.classpath
/.cache-main
/.cache-tests
/.attach_pid*
