src/main/resources/static/dot/*
**/antlr/main
/target/
/juniter.log
/exec.log
*.class
/build/
/.gradle/
/bin/
*.interp
*.tokens
/.settings/
/.idea/
/.classpath
/.cache-main
/.cache-tests
/.attach_pid*
/core/out/
/juniterriens/out/
/junigeek/out/
/junigeek/owl2vowl_logs/
/juniterriens/db/
