mixin api(mappings)
	.API
		h1 API 
		p 
			| This API reflect the 
			a(href="https://git.duniter.org/nodes/typescript/duniter/blob/dev/doc/HTTP_API.md")
				|	HTTP-API of Duniter 
				| and is under construction 
		ul
			
			each val, key in mappings
				li
					a(href=key + '/')= key
					ul
						each path in val
							li 
								a(href=key + '' + path)= path
			



		
mixin staticAPI()
	.API
		h1 API 
		p 
			| This API reflect the 
			a(href="https://git.duniter.org/nodes/typescript/duniter/blob/dev/doc/HTTP_API.md")
				|	HTTP-API of Duniter 
			| and is under construction 
		ul
			li 
				a(href="/blockchain") blockchain
			ul
				li 
					a(href="/blockchain/block/0") block/[number]
				li 
					a(href="/blockchain/blocks/10/300") blocks/[count]/[from]
				li 
					a(href="/blockchain/current") current
				li 
					with
					ul
						li 
							a(href="/blockchain/with/newcomers") newcomers
						li 
							a(href="/blockchain/with/certs") certs
						li 
							a(href="/blockchain/with/joiners") joiners
						li 
							a(href="/blockchain/with/actives") actives
						li 
							a(href="/blockchain/with/leavers") leavers
						li 
							a(href="/blockchain/with/excluded") excluded
							
			li  network
			ul
				li
					a(href="/network/peers") peers
					
			li  graphviz
				
			ul
				li dot
				ul
					li
						a(href="/graphviz/dot/block/127128") block
					li
						a(href="/graphviz/dot/certs/CvcFAv8iRd7qoCcpAvs6ckRMxwsjg1Czi7XELwKz9f7X") certs
					li
						a(href="/graphviz/dot/tx/695306FDD83A22ED042DB7E97F2C60B64ECDE973337299A69C32972629B8A63C") tx
				li svg
				ul
					li
						a(href="/graphviz/svg/block/127128") block
					li
						a(href="/graphviz/svg/certs/CvcFAv8iRd7qoCcpAvs6ckRMxwsjg1Czi7XELwKz9f7X") certs
					li
						a(href="/graphviz/svg/tx/695306FDD83A22ED042DB7E97F2C60B64ECDE973337299A69C32972629B8A63C") tx