include ./mixins/api

doctype html
html
	head
		title Juniter - #{title}
	body
		//	include:markdown-it ../../../../README.md
		//p #{message}, it's 
			//span #{time} 
		//+api(mappings)
		
		
		+staticAPI()
